.main-container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(90deg,#1d91f733,#1d91f7);
    color: #FFFFFF;
}